<html>
  <head>
    <link rel="stylesheet" href="http://{{server}}:{{port}}/a/css/onsenui.css">
    <link rel="stylesheet" href="http://{{server}}:{{port}}/a/css/onsen-css-components.min.css">
    <script src="http://{{server}}:{{port}}/a/js/onsenui.min.js"></script>
    <script src="http://{{server}}:{{port}}/a/js/jquery-3.2.1.min.js"></script>
    <script src="http://{{server}}:{{port}}/a/js/mqtt.min.js"></script>
    <script src="http://{{server}}:{{port}}/a/js/app.js"></script>
  </head>
  <body>

    <ons-tabbar position="auto">
      {% for key, output in outputs %}
      {% if (output.active === true) %}
      {# <ons-tab page="tab1.html" label="Tab 1" icon="ion-home, material:md-home" badge="7" active>
      </ons-tab> #}
      <ons-tab page="{{key}}.html" label="{{output.name}}" icon="{{output.icon}}">
      </ons-tab>
      {%endif%}
      {%endfor%}
    </ons-tabbar>




  <template id="out1.html">
    <ons-page id="out1">
      <ons-toolbar>
        <div id="title" class="center">Salon</div>
      </ons-toolbar>
      <p style="text-align: center;">
      {% for key,input in inputs %}
      {% if(input.active === true) %}
      <ons-button id="out1:{{key}}" modifier="Large--cta">
       {{input.name}}

      </ons-button>
      <br>
      {% endif %}
      {%endfor%}
      </p>
    </ons-page>
  </template>


  <template id="out2.html">
    <ons-page id="out2">
      <ons-toolbar>
        <div id="title" class="center">Chambre</div>
      </ons-toolbar>
      <p style="text-align: center;">
      {% for key,input in inputs %}
      {% if(input.active === true) %}
      <ons-button id="out2:{{key}}" modifier="Large--cta" icon="{{input.icon}}">
       {{input.name}}
      </ons-button>
      <br>
      {% endif %}
      {%endfor%}
      </p>
    </ons-page>
  </template>

  </body>

</html>
