<html>
  <head>
    <link rel="stylesheet" href="http://{{serveur}}/a/css/onsenui.css">
    <link rel="stylesheet" href="http://{{serveur}}/a/css/onsen-css-components.min.css">
    <script src="http://{{serveur}}/a/js/onsenui.min.js"></script>
    <script src="http://{{serveur}}/a/js/jquery-3.2.1.min.js"></script>
    <script src="http://{{serveur}}/a/js/mqtt.min.js"></script>
    <script src="http://{{serveur}}/a/js/app.js"></script>
  </head>
  <body>
    {{bonjour}}
<p class='mqttmsg'></p>
  </body>

</html>
