<html>
  <head>
    <link rel="stylesheet" href="http://127.0.0.1:3000/a/css/onsenui.css">
    <link rel="stylesheet" href="http://127.0.0.1:3000/a/css/onsen-css-components.min.css">
    <script src="http://127.0.0.1:3000/a/js/onsenui.min.js"></script>
    <script src="http://127.0.0.1:3000/a/js/jquery-3.2.1.min.js"></script>
    <script src="http://127.0.0.1:3000/a/js/mqtt.min.js"></script>
    <script src="http://127.0.0.1:3000/a/js/app.js"></script>
  </head>
  <body>
<p class='mqttmsg'></p>

  </body>

</html>
